# Turn on URL rewriting
RewriteEngine On

# Installation directory
RewriteBase /

# Protect hidden files from being viewed
<Files .*>
Order Deny,Allow
Deny From All
</Files>

# Protect application and system files from being viewed
RewriteRule ^(?:application|modules|system)\b.* www/index.php/$0 [L]

# Allow any files or directories that exist to be displayed directly
RewriteRule ^(styles|js|images)/.+$ www/$0 [L]

# Rewrite all other URLs to index.php/URL
RewriteRule .* www/index.php/$0 [L]
