body {
    
    margin: 0px;
    padding: 0px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 12px;
    color: #593B7C;
    background: url(/images/bg.png) repeat-x top left #dddae6;
}

textarea {
    margin: 0px;
    padding: 0px;
    resize: none; /* chrome resizing disable */
    border: 1px solid #EAEAEA;
}

select {
    background: #fff;
    border: 1px solid #EAEAEA;
}

input[type=text], input[type=password] {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    color: #593B7C;
    border: 1px solid #EAEAEA;
}

img {
    border: none;
}

img.icon {
}

a {
    color: #573E77;
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: underline;
}

.as-select {
    padding: 3px 20px 4px 3px;
    display: inline-block;
    background-position: right center;
    background-repeat: no-repeat;
    border-width: 1px;
    border-style: solid;
    border-color: #D9DADD;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 12px;
    width: auto;
    vertical-align: middle;
}

.as-select.with-icon {
    border-width: 1px 1px 1px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
}

input[type=submit] {
    background-color: #D0CCDC;
}

#main-wrapper {
    width: 960px;
    margin: 0px auto;
}

#header-holder {
    margin: 20px 10px 0px;
    min-height: 75px;
    position: relative;
}

#top-menu {
    position: absolute;
    right: 15px;
    bottom: 0px;
    height: 30px;
}

.top-menu-item {
    background-image: url(../images/top-menu-item-bg.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    padding-right: 8px;
    background-position: right -34px;
    overflow: hidden;
    float: left;
    color: white;
}

.top-menu-item:hover {
    background-image: url(../images/top-menu-item-bg-active.png);
    height: 34px;
}

.top-menu-item:hover .top-menu-item-label {
    background-image: url(../images/top-menu-item-bg-active.png);
    color: #553979;
}

.top-menu-item-label {
    padding: 10px 10px 10px 30px;
    font-size: 15px;
    line-height: 100%;
    background-position: left top;
    background-image: url(../images/top-menu-item-bg.png);
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.top-menu-item.active {
    height: 34px;
    background-image: url(../images/top-menu-item-bg-active.png);
    color: #553979;
    text-decoration: none;
}

.top-menu-item.active:hover {
    height: 34px;
    background-image: url(../images/top-menu-item-bg-active.png);
    color: #553979;
    text-decoration: none;
}

.top-menu-item.active .top-menu-item-label {
    background-image: url(../images/top-menu-item-bg-active.png);
    color: #553979;
}

#top-options-holder form > * {
    vertical-align: middle;
    /*float: left;
    display: inline-block;*/
}

#main-body {
    margin: 0px 5px 5px;
    min-width: 500px;
    border: 1px solid #D1D1D3;
    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #fff;
    /*width: 980px;*/
}

#account-settings-menu {
    width: 20%;
    min-width: 100px;
    float: left;
    background-color: white;
    border: 1px solid #BEC0BF;
    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.menu-title {
    padding: 5px;
    background-color: #D1CDDC;
    font-weight: bold;
    margin-bottom: 1px;
    -moz-border-radius: 8px 8px 0px 0px;
    border-radius: 8px 8px 0px 0px;
}

.menu-section {
    margin-bottom: 1px;
}

.menu-section-title {
    padding: 5px;
    background-color: #DDDDDD;
}

.menu-section-item {
    padding: 5px;
}

.menu-section-item.last {
    border-bottom: 0px;
}

#account-content {
    width: 79%;
    float: right;
    min-width: 395px;
    background-color: white;
    border: 1px solid #BEC0BF;
    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.content-title {
    margin: 0px;
    padding: 5px;
    background-color: #D1CDDC;
    font-size: 15px;
    -moz-border-radius: 8px 8px 0px 0px;
    border-radius: 8px 8px 0px 0px;
}

#boxes-holder {
    float: left;
    width: 720px;
    position: relative;
}

.box-container {
    border: 1px solid transparent;
    z-index: 1;
    position: relative;
}

.box-container.active {
    margin-bottom: 10px;
}

.box-container.empty {
    margin-bottom: 10px;
    display: none;
}

.box-dropable {
    border-width: 1px;
    border-style: dotted;
    border-color: gray;
    display: block !important;
}

.box-dropable.empty {
    height: 50px;
}

.box-drag-over {
    border-style: dashed !important;
}

.box-container-left {
    float: left;
    width: 351px;
}

.box-container-right {
    float: right;
    width: 352px;
}

.box {
    top: 0px;
    left: 0px;
    background-color: white;
    border: 1px solid #BEC0BF;
    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 2px;
}

.graph-holder {
    display: none;
    min-height: 250px;
    overflow: hidden;
}

.content-section-title {
    margin: 0px;
    padding: 5px;
    background-color: #DDDDDD;
    font-size: 11px;
}

.box-header {
    position: relative;
    margin: 0px;
    padding: 5px;
    background-color: #D1CDDC;
    font-size: 15px;
    font-weight: bold;
    -moz-border-radius: 8px 8px 0px 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
    border-radius: 8px 8px 0px 0px;
    text-align: center;
}

.box-header-left-buttons {
    float: left;
    padding-right: 5px;
}

.box-header-title-holder {
    margin-left: 20px;
    margin-right: 40px;
}

.box-header-title {
    position: relative;
}

.box-header-right-buttons {
    float: right;
}

.box-content {
    min-height: 50px;
}

.box-header-button {
    display: inline-block;
    width: 19px;
    height: 17px;
    background-repeat: no-repeat;
    background-position: top left;
    margin-left: 3px;
}

.box-header-button:first-child {
    margin-left: 0px;
}

.box-header-button.active {
    background-position: bottom left;
}

.box-header-button-show-graph {
    background-image: url(../images/box/button/chart.png);
}
.box-header-button-show-data {
    background-image: url(../images/box/button/data-grid.png);
}
.box-header-button-move {
    background-image: url(../images/box/button/move.png);
}
.box-header-button-dashboard-pin {
    background-image: url(../images/box/button/pin.png);
}

.light-box {
    background-color: white;
    border: 1px solid #BEC0BF;
    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 2px;
    margin-bottom: 10px;
}

.light-box-header {
    -moz-border-radius: 8px 8px 0px 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
    border-radius: 8px 8px 0px 0px;
    padding: 5px;
    margin-bottom: 5px;
    font-size:15px;
    font-weight: bold;
}

.light-box-content {
    padding: 5px;
    -moz-border-radius: 0px 0px 8px 8px;
    -webkit-border-radius: 0px 0px 8px 8px;
    border-radius: 0px 0px 8px 8px;
    background-color: #D1CDDC;
}


#top-options-holder {
    margin: 10px 0px;
    text-align: right;
    position: relative;
}

#right-panel-holder {
    width: 14%;
    width: 165px;
    float: right;
}

#footer-holder {
    margin: 5px;
    padding: 5px;
    text-align: center;
}

#copyrights {
    width: 220px;
    margin: 5px auto;    
}

#ajax-loader-holder {
    display: none;
}

.ajax-loader {
    text-align: center;
    padding: 10px;
}

.ajax-loading-gif {
    vertical-align: middle;
}

.reply-to-review-button {
    display: inline-block;
    width: 131px;
    height: 28px;
    vertical-align: middle;
    background-image: url(../images/icons/reply-to-review.png);
    background-repeat: no-repeat;
    margin-right: 13px;
}

.close-button {
    display: block;
    width: 70px;
    height: 28px;
    vertical-align: middle;
    background-image: url(../images/icons/close.png);
    background-repeat: no-repeat;
}

.save-button {
    display: inline-block;
    width: 70px;
    height: 28px;
    vertical-align: middle;
    background-image: url(../images/icons/save.png);
    background-repeat: no-repeat;
}

.mono-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-image: url(../images/icons/mono-icons.png);
    background-repeat: no-repeat;
}

.mono-icon.icon-checkbox {
    background-position: left 0px;
}
.mono-icon.icon-todo {
    background-position: left -40px;
}
.mono-icon.icon-email {
    background-position: left -20px;
}
.mono-icon.icon-goto {
    width: 27px;
    background-position: left -60px;
}

/* Styles for specific boxes */

/* Review Inbox */
#box-recent-reviews {}


    #box-recent-reviews .reviewRating {
        background-image: url(../images/icons/review-stars.png);
        background-position: 0px 0px;
        background-repeat: no-repeat;
        height: 18px;
        width: 110px;
        position: relative;
    }
    
    .reviewRating span, .reviewStatus span  {
        display:none;
    }

        #box-recent-reviews .reviewRating .stars-0-of-5-front,
        #box-recent-reviews .reviewRating .stars-1-of-5-front,
        #box-recent-reviews .reviewRating .stars-2-of-5-front,
        #box-recent-reviews .reviewRating .stars-3-of-5-front,
        #box-recent-reviews .reviewRating .stars-4-of-5-front,
        #box-recent-reviews .reviewRating .stars-5-of-5-front {
            /* background-color: red; */
            background-image: url(../images/icons/review-stars.png);
            background-position: 0px -22px;
            background-repeat: no-repeat;
            height: 18px;
            position: absolute;
        }

        #box-recent-reviews .reviewRating .stars-0-of-5-front {
            width: 0px;
        }

        #box-recent-reviews .reviewRating .stars-1-of-5-front {
            width: 22px;
        }

        #box-recent-reviews .reviewRating .stars-2-of-5-front {
            width: 44px;
        }

        #box-recent-reviews .reviewRating .stars-3-of-5-front {
            width: 66px;
        }

        #box-recent-reviews .reviewRating .stars-4-of-5-front {
            width: 88px;
        }

        #box-recent-reviews .reviewRating .stars-5-of-5-front {
            width: 110px;
        }

    #box-recent-reviews .reviewStatus {
        background-image: url(../images/icons/icons.png);
        background-position: 0px -91px;
        background-repeat: no-repeat;
        height: 27px;
        width: 27px;
    }

        #box-recent-reviews .reviewStatus-closed {
            background-position: -553px -160px;
        }

        #box-recent-reviews .reviewStatus-new {
            background-position: -553px -14px;
        }

        #box-recent-reviews .reviewStatus-todo {
            background-position: -553px -193px;
        }
        #box-recent-reviews .reviewStatus-alert {
            background-position: -553px -85px;
        }

        
    /* Styling of the expanded review details */
    #box-recent-reviews .details {
    }

        .innerForm table {
            vertical-align: top;
        }


        .innerForm textarea {
            width:99%;
            height:100px;
        }
    
        #box-recent-reviews .details td {
            padding: 0;
        }

        #box-recent-reviews .details {
            clear: both;
            padding: 10px;
            border-bottom: 1px solid #8974A0;
        }

            #box-recent-reviews .details .recentReviewDetailsForm {
                
                width:auto;
                float:left;
            }
            
            #box-recent-reviews .details .recentReviewDetailsForm .innerForm {
                margin-right:0px;
            } 

            #box-recent-reviews .details .recentReviewDetailsMenu {
                float: right;
                width: 150px;
                margin-left: -100px;
            }

            #box-recent-reviews .details .recentReviewDetailsButtons {
                text-align: right;
            }
            
            .review-details-content, .details-content {
                width: 424px;
                white-space: pre;           /* CSS 2.0 */
                white-space: pre-wrap;      /* CSS 2.1 */
                white-space: pre-line;      /* CSS 3.0 */
                white-space: -pre-wrap;     /* Opera 4-6 */
                white-space: -o-pre-wrap;   /* Opera 7 */
                white-space: -moz-pre-wrap; /* Mozilla */
                white-space: -hp-pre-wrap;  /* HP Printers */
                word-wrap: break-word;      /* IE 5+ */
            }

#box-ogsi { background: url(/images/scoreboard-bg.png) bottom left repeat-x;}

.ogsi-score {
    padding-top: 9px;
}

    .ogsi-score-bg-right {
        background-image: url(../images/ogsi-bg.png);
        background-position: right bottom;
        background-repeat: no-repeat;
        padding-right: 32px;
    }
    
    .ogsi-score-bg-left {
        background-image: url(../images/ogsi-bg.png);
        background-position: top left;
        background-repeat: no-repeat;
        padding-left: 10px;
        height: 101px;
    }
    
    .ogsi-score-ogsi {
        padding: 5px 0px 0px 10px;
        font-size: 20px;
        text-align: center;
    }
    .ogsi-rating-rating {
        padding: 5px 0px 0px;
        font-size: 20px;
        text-align: center;
    }
    .ogsi-reviews-reviews {
        padding: 5px 0px 0px;
        font-size: 20px;
        text-align: center;
    }
    
    .ogsi-score-value {
        padding: 0px;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        line-height: 100%;
    }
    
    .ogsi-rating {
        height: 101px;
    }
    
    .ogsi-rating-value {
        padding: 0px;
        font-size: 31px;
        font-weight: bold;
        text-align: center;
        line-height: 100%;
    }

    .ogsi-reviews {
        height: 101px;
    }
    
    .ogsi-reviews-value {
        padding: 0px;
        font-size: 31px;
        font-weight: bold;
        text-align: center;
        line-height: 100%;
    }
    
    .change-arrow {
        display: inline-block;
        width: 15px;
        height: 14px;
        vertical-align: middle;
        background-repeat: no-repeat;
    }
    
    .change-arrow.positive {
        background-image: url(../images/icons/arrow-up.png);
    }

    .change-arrow.negative {
        background-image: url(../images/icons/arrow-down.png);
    }
    
    .ogsi-rating .ogsi-rating-stars-off {
        width: 110px;
        height: 20px;
        margin: 0px auto;
        background-image: url(../images/icons/review-stars.png);
        background-repeat: no-repeat;
        background-position: top left;
    }
    .ogsi-rating .ogsi-rating-stars-on {
        width: 20px;
        height: 20px;
        background-image: url(../images/icons/review-stars.png);
        background-repeat: no-repeat;
        background-position: left -22px;
        margin: 0px;
        float: left;
    }
    
    .change-value {
        font-size: 14px;
    }
    
    .box-ogsi-review-distribution .title {
        text-align: center;
        padding: 5px;
        background-color: #D1CDDD;
        color: white;
        font-weight: normal;
        font-size: 18px;
    }
    
    .box-ogsi-review-distribution .bar-holder {
        padding: 20px 50px;
    }
    
    .bar-value {
        font-size: 13px;
        color: white;
        font-weight: bold;
        display: inline-block;
        padding-top: 4px;
    }
    
    .bar-negative {
        height: 22px;
        background-image: url(../images/box/ogsi/bar-negative-bg.jpg);
        border: 1px solid #BC2B2C;
        border-radius: 8px;
        text-align: center;
    }
    
    .bar-neutral {
        height: 22px;
        margin-top: -1px;
        margin-left: -1px;
        float: left;
        background-image: url(../images/box/ogsi/bar-neutral-bg.jpg);
        border: 1px solid #D1BC30;
        border-radius: 8px;
        overflow: visible;
    }

    .bar-neutral .bar-value {
        color: black;
    }

    .bar-positive {
        overflow: visible;
        height: 22px;
        margin-top: -1px;
        margin-left: -1px;
        float: left;
        background-image: url(../images/box/ogsi/bar-positive-bg.jpg);
        border: 1px solid #18693C;
        border-radius: 8px;
    }

    .bar-positive .bar-value {
        color: white;
    }
    
    .headline-arrow {
        background: url(../images/ogsi_headline.png) top left;
        height:54px;
        width:127px;
    }
    
    .current {
        background-position: left bottom;
        background-repeat: no-repeat;
        font-family: Verdana,Arial,Tahoma,sans-serif;
        font-size: 30px;
        font-weight: normal;
        padding-bottom: 6px;
        padding-left: -2px;
        text-align: left;
        letter-spacing: -2.1px;
    }

#range-form .ui-datepicker-trigger {

    position: absolute;
    right: 172px;
    top: 5px;
    cursor: pointer;

}


.box .box-filter-label {
    font-weight: bold;
    float:left;
    width: 80px;
}

.box .box-filter {
    float:left;
    width: 600px;
}

.box .box-filter a {
    font-size: 11px;
}

.box .box-filter a.active {
    
        background: #573975;
        /* Mozilla: */
        background: -moz-linear-gradient(top, #d1cddc,#573975);
        /* Chrome, Safari:*/
        background: -webkit-gradient(linear,
                left top, left bottom, from(#d1cddc), to(#573975));
        /* MSIE */
        filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#d1cddc', EndColorStr='#573975', GradientType=0);
        
	color: #fff;
	padding: 2px 3px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #573975;
	
    
}

.box .spacer {
    padding-top:12px; 
    clear:both;
}

.box-filters .box-filters-inner
{
    margin:10px 10px 0;
    font-size: 12px;
}

.box-filter .separator
{
    margin-left: 4px;
    margin-right: 4px;
    display: inline-block;
}

.box .box-pager {
    
    position: absolute;
    right: 15px;
    top: 44px;
    
}


#box-social-media-inbox {}
    

    #box-social-media-inbox tr td.col-network a {

        display: block;
        background-image: url(../images/icons/icons.png);
        width: 24px;
        height: 24px;
    }
    
    .network a {

        display: block;
        background-image: url(../images/icons/icons.png);
        width: 32px;
        height: 32px;
    }
    
    
    
    .network a.facebook {
        background-position: -647px -16px;
    }
    
    .network a.flickr {
        background-position: -647px -59px;
    }

    .network a.twitter {
        background-position: -647px -103px;
    }

    .network a.google {
        background-position: -647px -146px;
    }

    .network a.youtube {
        background-position: -647px -190px;
    }
    
    .network a.reddit {
        background-position: -647px -236px;
    }
    
    .network a.stumbleupon {
        background-position: -647px -279px;
    }

    .network a.rss {
        background-position: -647px -322px;
    }

    .network a.blogger {
        background-position: -647px -365px;
    }
    
    .network a.delicious {
        background-position: -647px -408px;
    }
    
    .network a.foursquare {
        background-position: -647px -451px;
    }
    
    .buttons {
    
        margin-top: 15px;
        
    }

    
    .buttons button {

        background: -webkit-gradient(linear, left top, left bottom, from(#D1CDDC), to( #573975));
        background: -moz-linear-gradient(top, #D1CDDC, #573975);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#D1CDDC, endColorstr=#573975);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#D1CDDC, endColorstr=#573975)";

        border: 1px solid #573975;
        border-radius: 4px 4px 4px 4px;
        color: #FFFFFF;
        padding: 2px 3px;

    }
    
    .buttons label {
        cursor: pointer;
    }
    
    .buttons .icon {
        height: 24px;
        width:30px;
        display: inline-block;
        background-image: url(../images/icons/icons.png);
        margin-bottom: -8px;
    }

    .buttons .facebook {
        background-position: -602px -15px;
    }
    
    .buttons .twitter {
        background-position: -602px -81px;
    }
    
    .messages .network {

        display: inline-block;
        background-image: url(../images/icons/icons.png);
        width: 32px;
        height: 32px;
    }
    
    .messages .facebook {
        background-position: -602px -15px;
    }
    
    .messages .flickr {
        background-position: -602px -48px;
    }

    .messages .twitter {
        background-position: -602px -81px;
    }

    .messages .google {
        background-position: -602px -114px;
    }

    .messages .youtube {
        background-position: -602px -146px;
    }
    
    .messages .reddit {
        background-position: -602px -180px;
    }
    
    .messages .stumbleupon {
        background-position: -602px -212px;
    }

    .messages .rss {
        background-position: -602px -245px;
    }

    .messages .blogger {
        background-position: -602px -279px
    }
    
    .messages .delicious {
        background-position: -602px -311px;
    }
    
    .messages .foursquare {
        background-position: -602px -344px;
    }
    
/* small row icon    */
    
    #box-social-media-inbox tr td.col-network a span, .network a span {
        display:none;
    }
    
    #box-social-media-inbox tr td.col-network a.facebook {
        background-position: -602px -15px;
    }
    
    #box-social-media-inbox tr td.col-network a.flickr {
        background-position: -602px -48px;
    }

    #box-social-media-inbox tr td.col-network a.twitter {
        background-position: -602px -81px;
    }

    #box-social-media-inbox tr td.col-network a.google {
        background-position: -602px -114px;
    }

    #box-social-media-inbox tr td.col-network a.youtube {
        background-position: -602px -146px;
    }
    
    #box-social-media-inbox tr td.col-network a.reddit {
        background-position: -602px -180px;
    }
    
    #box-social-media-inbox tr td.col-network a.stumbleupon {
        background-position: -602px -212px;
    }

    #box-social-media-inbox tr td.col-network a.rss {
        background-position: -602px -245px;
    }

    #box-social-media-inbox tr td.col-network a.blogger {
        background-position: -602px -279px
    }
    
    #box-social-media-inbox tr td.col-network a.delicious {
        background-position: -602px -311px;
    }
    
    #box-social-media-inbox tr td.col-network a.foursquare {
        background-position: -602px -344px;
    }
    
    
/*    expanded icons */
    
    .details .actions-network .google {
        background-position: -724px -259px;
    }
    .details .actions-network .youtube {
        background-position: -724px -339px;
    }
    .details .actions-network .reddit {
        background-position: -724px -420px;
    }
    .details .actions-network .stumbleupon {
        background-position: -724px -499px;
    }
    .details .actions-network .facebook {
        background-position: -724px -15px;
    }
    .details .actions-network .flickr {
        background-position: -724px -96px;
    }
    .details .actions-network .twitter {
        background-position: -724px -177px;
    }
    .details .actions-network .rss {
        background-position: -724px -582px;
    }
    .details .actions-network .blogger {
        background-position: -626px -583px;
    }
    
    .details .actions-network .delicious {
        background-position: -626px -500px;
    }
    
    .details .actions-network .foursquare {
        background-position: -533px -500px;
    }
    
   .details .actions-network .details-network {
        background-image: url("../images/icons/icons.png");
        background-repeat: no-repeat;
        display: inline-block;
        height: 72px;
        width: 72px;
    }
    

    .box .col-2 {
        
        width:100%;
        margin-top:15px;
        
    }
    
    tr.expanded td { padding: 0; border:none; }
    
    tr .details {
        border-bottom: 1px solid #8974A0;
        clear: both;
        padding: 10px;
    }
    
    .box .col-2 .leftCol {
        
        width:100%;
        float:left;
    }
    
    tr.border {
    
        border-bottom: 1px solid #000;
        
    }
    
    .collapsed .col-title {
        font-weight: bold;
        font-style: italic; 
        vertical-align: text-top;

    }
    
    .collapsed .expand {
        background: url("../images/icons/expand-icon.png") no-repeat scroll 0 0 transparent;
        bottom: -6px;
        display: block;
        height: 15px;
        position: absolute;
        right: 0px;
        width: 55px;
        display: none;
    }
    .show { display:block !important;}
    
    
    
    .collapsed .col-title div.wrapper {
        position: relative;
        height: 28px;
    }
    
    
    .collapsed .col-title div.wrapper .in {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    
    .collapsed .col-title div.wrapper .in .title {
        margin-right:28px;
        display:block;
    }
    
    .box .col-2 h2 {
        margin:0;
    }
    
    .box .col-2 .leftCol .inner {
        
        margin-right: 200px;
        
    }
    
    .box .col-2 .rightCol {
        
        float:right;
        padding-right: 10px;
        padding-bottom: 10px;
        margin-left: -200px;
        
    }

#box-competition-score .data {
    text-align:center;
}    
    td.even {
        background-color: #E7E4EF;
    }

    #box-competition-score .data th {

        text-align:right;
        
    }
    
    #box-competition-score .data span {

        display:block;

    } 
    #box-competition-score .data span.score {
        font-size:120%;
        font-weight: bold;
    }
    #box-competition-score .data span.rank {
        font-size:90%;
        font-weight: normal;
    }

/* Review Inbox */
#box-competition-review-inbox {}

    #box-competition-review-inbox .reviewRating {
        background-image: url(../images/icons/review-stars.png);
        background-position: 0px 0px;
        background-repeat: no-repeat;
        height: 18px;
        position: relative;
        width: 110px;
    }

        #box-competition-review-inbox .reviewRating .stars-0-of-5-front,
        #box-competition-review-inbox .reviewRating .stars-1-of-5-front,
        #box-competition-review-inbox .reviewRating .stars-2-of-5-front,
        #box-competition-review-inbox .reviewRating .stars-3-of-5-front,
        #box-competition-review-inbox .reviewRating .stars-4-of-5-front,
        #box-competition-review-inbox .reviewRating .stars-5-of-5-front {
            /* background-color: red; */
            background-image: url(../images/icons/review-stars.png);
            background-position: 0px -22px;
            background-repeat: no-repeat;
            height: 18px;
            position: absolute;
        }

        #box-competition-review-inbox .reviewRating .stars-0-of-5-front {
            width: 0px;
        }

        #box-competition-review-inbox .reviewRating .stars-1-of-5-front {
            width: 22px;
        }

        #box-competition-review-inbox .reviewRating .stars-2-of-5-front {
            width: 44px;
        }

        #box-competition-review-inbox .reviewRating .stars-3-of-5-front {
            width: 66px;
        }

        #box-competition-review-inbox .reviewRating .stars-4-of-5-front {
            width: 88px;
        }

        #box-competition-review-inbox .reviewRating .stars-5-of-5-front {
            width: 110px;
        }
        
        #box-competition-review-inbox .inner {
            margin-right: 80px !important;
        }
        #box-competition-review-inbox .rightCol {
            margin-left: -80px !important;
        }
        
#box-revent-review {
    
}

#box-recent-reviews ul {
    list-style-type: none;
}

    #box-recent-reviews .recent-review-status-icon {
        display: inline-block;
        width: 80px;
        height: 80px;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url(../images/icons/icons.png);
    }
    
    #box-recent-reviews .recent-review-status-icon.new {
        background-position: -454px -12px;
    }

    #box-recent-reviews .recent-review-status-icon.closed {
        background-position: -454px -337px;
    }

    #box-recent-reviews .recent-review-status-icon.todo {
        background-position: -454px -418px;
    }
    
    #box-recent-reviews .recent-review-status-icon.alert {
    background-position: -454px -418px;
}

    .window-close:hover {
        
        text-decoration: none;
        background: #D1CDDC;
        
    }
    
    .window-close {
        background: none repeat scroll 0 0 #FFFFFF;
        border: 1px solid gray;
        bottom: 0;
        font-weight: bold;
        left: 50%;
        margin-left: -23px;
        padding: 6px 12px;
        position: absolute;
        text-decoration: none;
        z-index: 10;
    }
    
    .status-icon {
        background-image: url(../images/icons/icons.png);
        width: 35px;
        height:33px;
        display:inline-block;
        position: absolute;
    }
    
    .row .desc {
        
        display: inline-block;
        font-size: 15px;
        margin-left: 42px;
        padding-bottom: 14px;
        
    }
    
    .status-icon.todo {
        
        background-position: -386px -58px;
        
    }
    .status-icon.alert {
        
        background-position: -386px -15px;
        
    }
    
    .row {
        background: url("/images/bar.gif") repeat-x left bottom;
        margin: 0 0 7px;
    }
    
    .row.end {
        background: none;
    }
    
    .row .title {
        float: right;
        margin: 0 0 10px 0;
        display: inline-block;
        width: 113px;
        font-weight: normal;
        font-size: 11px;
        white-space: pre;           /* CSS 2.0 */
        white-space: pre-wrap;      /* CSS 2.1 */
        white-space: pre-line;      /* CSS 3.0 */
        white-space: -pre-wrap;     /* Opera 4-6 */
        white-space: -o-pre-wrap;   /* Opera 7 */
        white-space: -moz-pre-wrap; /* Mozilla */
        white-space: -hp-pre-wrap;  /* HP Printers */
        word-wrap: break-word;      /* IE 5+ */
    }
    
    .row .network {
        float:left;
        margin-bottom: 5px;
        display:block;
    }
    
    .row .date {
        clear:both;
        display:block;
        margin-bottom: 5px;
        font-size: 13px;
    }
    
    .row .reply {
        clear:both;
        float: right;
        background: url(/images/icons/reply.png) top left no-repeat;
        padding: 2px 0 0 20px;
        height: 24px;
        display: block;
        margin-top: 4px;
    }
    
    .hide {
        display:none;
    }
    
    .light-box-content .ogsi-reviews {
        
        height:auto;
        
    }
    .light-box-content .ogsi-rating {
        
        height: auto;
        
    }
    
    .light-box-content .ogsi-reviews-value {
        font-size: 18px;
        font-weight: bold;
        line-height: 100%;
        padding: 0;
        text-align: center;
    }
    
    .light-box-content .bar-value {
        color: white;
        display: inline-block;
        font-size: 10px;
        font-weight: bold;
        padding-top: 1px;
    }
    
    .light-box-content .ogsi-reviews-reviews {
        font-size: 17px;
        margin-bottom: 10px;
    }
    
    .light-box-content .ogsi-rating-rating {
        color: #61467e;
        font-size: 17px;
        margin-bottom: 5px;
    }
    
    .light-box-content .bar-neutral {
        
        height: 17px;
        
    }
    .light-box-content .bar-positive {
        
        height: 17px;
        
    }
    
    .light-box-content .bar-negative {
        
        height: 17px;
        
    }
    
    .light-box-content .ogsi-score {
        
        width:85px;
        color: #783cad;
        
    }
    
    .light-box-content .ogsi-rating-value {
        font-size: 18px;
    }
    
    .light-box-content .ogsi-score-ogsi, .light-box-content .ogsi-score-value  {
        
        text-align:right;
        
    }
    
    .light-box-content .ogsi-score-bg-left {
        background-image: url("../images/ogsi-bg.png");
        background-position: left top;
        background-repeat: no-repeat;
        height: 101px;
        padding-left: 0;
    }
    
    
    .light-box-content .ogsi-score-bg-right {
        background-image: url("../images/ogsi-bg.png");
        background-position: right bottom;
        background-repeat: no-repeat;
        padding-right: 32px;
        width: 89px;
        margin-left: 12px;
    }
    
    .assets .controls {
        
        
    }
    
    .assets .controls .next span, .assets .controls .prev span {
        
        display: none;
        
    } 
    
    .assets .controls .prev {
        display:inline-block;
        width:25%;
        float:left;
        height: 42px;
        background: url("/images/icons/icons.png") no-repeat 45px -402px;
    }
    
    .assets .controls .prev a,  .assets .controls .next a {
        
        display:block;
        width:100%;
        height:100%;
        
    }
    
    
    .assets .controls .next {
        background: url("/images/icons/icons.png") no-repeat -52px -402px;
        display: inline-block;
        float: left;
        height: 42px;
        width: 25%;
    }
    
    .assets .controls .desc {
        display:inline-block;
        width:50%;
        float:left;
        font-size: 10px;
        font-family: Verdana, sans-serif;
        text-align: center;
        padding-top: 3px;
    }
    
    .assets .controls .desc .title {
        font-weight: bold;
        display:block;
    }
    
    .assets .controls .text, .assets .controls .date {
        
        display: block;
        
    }
    
    #box-videos .playlist {
        display:none;
    }
    
    .status-updater {
        margin:20px;
    }
    
    .status-updater textarea {
        width:100%;
        height: 50px;
    }
    
    .status-updater .message span {
        display:none;
    }
    
    .status-updater .message {
        
        height:10px;
        padding:5px;
        color:#ff0000;
        font-weight: bold;
        position: absolute;
        top: 32px;
        
    }
    
    /*
    
    account settings
    
    */
    
    .login, .twitter_login {
        
        padding:10px;
        color: #000;
        
    }
    
    .twitter, .twitter-connect-button {
        
        background: url(/images/icons/darker.png) no-repeat top left;
        display:block;
        width: 151px;
        height: 24px;
        
    }
    
    .twitter span, .twitter-connect-button span {
        
        display: none;
        
    }
    
    
    .status-updater form .counter {
        bottom: 25px;
        font-size: 14px;
        font-weight: bold;
        left: 24px;
        position: absolute;
    }
    .status-updater form .warning{color:#600;}	
    .status-updater form .exceeded{color:#e00;}
    
    
    #dialog-export input.text { margin-bottom:12px; width:95%; padding: .4em; }
    #dialog-export  fieldset { padding:0; border:0; margin-top:25px; }
    .ui-dialog .ui-state-error { padding: .3em; }
    #dialog-export .validateTips { border: 1px solid transparent; padding: 0.1em; }

    #email-export input.text { margin-bottom:12px; width:95%; padding: .4em; }
    #email-export  fieldset { padding:0; border:0; margin-top:25px; }
    #email-export .validateTips { border: 1px solid transparent; padding: 0.1em; }
    
    .man-disabled {
        background: url("/images/bg.png") repeat-x scroll left bottom transparent;
        color: #000000;
        display: inline-block;
        font-size: 10px;
        font-weight: bold;
        height: 24px;
        padding: 4px;
        text-align: left;
        vertical-align: middle;
        width: 145px;
        margin-right: 10px;
    }

/* Account Settings styles */

.action-delete {
    content: url(../images/icons/delete_12px.png);
}

.action-edit {
    content: url(../images/icons/edit_12px.png);
}

/* error box specific styles */
.error-message {
    border: 1px solid red;
    margin: 10px;
    padding: 10px;
}
    .error-message p {
        color: red;
        font-weight: bold;
        margin: 0px;
        padding: 0px;
    }
    
    .button-g {

        background: -webkit-gradient(linear, left top, left bottom, from(#D1CDDC), to( #573975));
        background: -moz-linear-gradient(top, #D1CDDC, #573975);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#D1CDDC, endColorstr=#573975);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#D1CDDC, endColorstr=#573975)";

        border: 1px solid #573975;
        border-radius: 4px 4px 4px 4px;
        color: #FFFFFF;
        padding: 2px 3px;

    }

    .notice {
        border: 1px solid #dfdfdf;
        margin: 10px 0px;
        padding:10px;

        color: #444;
        background-color: #f4f4f4;
        width:300px;
        text-align: center;
        display:none;
    }