body {
    background-color: #EDEDED;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 12px;
    color: #593B7C;
    background-color: white;
}

textarea {
    margin: 0px;
    padding: 0px;
    border-width: 1px;
    border-style: solid;
}

img {
    border-width: 0px;
}

img.icon {
    vertical-align: middle;
}

a {
    color: #573E77;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#main-wrapper {
    background-color: white;
}

#header-holder {
    margin: 20px 10px 0px;
    min-height: 75px;
    position: relative;
}

#top-menu {
    position: absolute;
    right: 15px;
    bottom: 0px;
    height: 30px;
}

.top-menu-item {
    background-image: url(../images/top-menu-item-bg.jpg);
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    padding-right: 8px;
    background-position: right -34px;
    overflow: hidden;
    float: left;
    color: white;
}

.top-menu-item-label {
    padding: 10px 10px 10px 30px;
    font-size: 15px;
    line-height: 100%;
    background-position: left top;
    background-image: url(../images/top-menu-item-bg.jpg);
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.top-menu-item.active {
    height: 34px;
    background-image: url(../images/top-menu-item-bg-active.jpg);
    color: #553979;
}

.top-menu-item.active .top-menu-item-label {
    background-image: url(../images/top-menu-item-bg-active.jpg);
    color: #553979;
}

#main-body {
    margin: 0px 10px 10px;
    min-width: 500px;
    border: 1px solid #D1D1D3;
    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 2px;
    /*width: 980px;*/
}

#account-settings-menu {
    width: 20%;
    min-width: 100px;
    float: left;
    background-color: white;
    border: 1px solid #BEC0BF;
    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.menu-title {
    padding: 5px;
    background-color: #D1CDDC;
    font-weight: bold;
    margin-bottom: 1px;
    -moz-border-radius: 8px 8px 0px 0px;
    border-radius: 8px 8px 0px 0px;
}

.menu-section {
    margin-bottom: 1px;
}

.menu-section-title {
    padding: 5px;
    background-color: #DDDDDD;
}

.menu-section-item {
    padding: 5px;
}

.menu-section-item.last {
    border-bottom: 0px;
}

#account-content {
    width: 79%;
    float: right;
    min-width: 395px;
    background-color: white;
    border: 1px solid #BEC0BF;
    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.content-title {
    margin: 0px;
    padding: 5px;
    background-color: #D1CDDC;
    font-size: 15px;
    -moz-border-radius: 8px 8px 0px 0px;
    border-radius: 8px 8px 0px 0px;
}

#boxes-holder {
    float: left;
    width: 85%;
    position: relative;
}

.box-container {
    border: 1px solid transparent;
    z-index: 1;
}

.box-container.active {
    margin-bottom: 10px;
}

.box-container.empty {
    margin-bottom: 10px;
    display: none;
}

.box-dropable {
    border-width: 1px;
    border-style: dotted;
    border-color: gray;
    display: block !important;
}

.box-dropable.empty {
    height: 50px;
}

.box-drag-over {
    border-style: dashed !important;
}

.box-container-left {
    float: left;
    width: 49%;
}

.box-container-right {
    float: right;
    width: 49%;
}

.box {
    top: 0px;
    left: 0px;
    background-color: white;
    border: 1px solid #BEC0BF;
    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 2px;
}

.graph-holder {
    display: none;
    min-height: 250px;
    overflow: hidden;
}

.content-section-title {
    margin: 0px;
    padding: 5px;
    background-color: #DDDDDD;
    font-size: 11px;
}

.box-header {
    position: relative;
    margin: 0px;
    padding: 5px;
    background-color: #D1CDDC;
    font-size: 15px;
    font-weight: bold;
    -moz-border-radius: 8px 8px 0px 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
    border-radius: 8px 8px 0px 0px;
    text-align: center;
}

.box-header-left-buttons {
    float: left;
    padding-right: 5px;
}

.box-header-title-holder {
    margin-left: 20px;
    margin-right: 40px;
}

.box-header-title {
}

.box-header-right-buttons {
    float: right;
}

.box-content {
    min-height: 50px;
}

.light-box {
    background-color: white;
    border: 1px solid #BEC0BF;
    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 2px;
    margin-bottom: 10px;
}

.light-box-header {
    -moz-border-radius: 8px 8px 0px 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
    border-radius: 8px 8px 0px 0px;
    padding: 5px;
    margin-bottom: 5px;
}

.light-box-content {
    padding: 5px;
    -moz-border-radius: 0px 0px 8px 8px;
    -webkit-border-radius: 0px 0px 8px 8px;
    border-radius: 0px 0px 8px 8px;
    background-color: #D1CDDC;
}


#top-options-holder {
    margin: 10px 0px;
    text-align: right;
}

#right-panel-holder {
    width: 14%;
    float: right;
}

#footer-holder {
    margin: 5px;
    border-top: 1px solid gray;
    padding: 5px;
    text-align: center;
}

#copyrights {
    width: 220px;
    margin: 5px auto;
    border: 1px solid gray;
}

#ajax-loader-holder {
    display: none;
}

.ajax-loader {
    text-align: center;
    padding: 10px;
}

.ajax-loading-gif {
    vertical-align: middle;
}
