body {
    background-color: #EDEDED;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 12px;
    color: #593B7C;
    background-color: white;
}

textarea {
    margin: 0px;
    padding: 0px;
    border-width: 1px;
    border-style: solid;
    resize: none; /* chrome resizing disable */
}

select {
    background: white;
    border-width: 1px;
    border-style: solid;
}

input {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    color: #593B7C;
    border-width: 1px;
    border-style: solid;
}

img {
    border-width: 0px;
}

img.icon {
}

a {
    color: #573E77;
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: underline;
}

.as-select {
    padding: 3px 20px 4px 3px;
    display: inline-block;
    background-position: right center;
    background-repeat: no-repeat;
    border-width: 1px;
    border-style: solid;
    border-color: #D9DADD;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 12px;
    width: auto;
    vertical-align: middle;
}

.as-select.with-icon {
    border-width: 1px 1px 1px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
}

input[type=submit] {
    background-color: #D0CCDC;
}

#main-wrapper {
    background-color: white;
    width: 960px;
    margin: 0px auto;
}

#header-holder {
    margin: 20px 10px 0px;
    min-height: 75px;
    position: relative;
}

#top-menu {
    position: absolute;
    right: 15px;
    bottom: 0px;
    height: 30px;
}

.top-menu-item {
    background-image: url(../images/top-menu-item-bg.jpg);
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    padding-right: 8px;
    background-position: right -34px;
    overflow: hidden;
    float: left;
    color: white;
}

.top-menu-item-label {
    padding: 10px 10px 10px 30px;
    font-size: 15px;
    line-height: 100%;
    background-position: left top;
    background-image: url(../images/top-menu-item-bg.jpg);
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.top-menu-item.active {
    height: 34px;
    background-image: url(../images/top-menu-item-bg-active.jpg);
    color: #553979;
}

.top-menu-item.active .top-menu-item-label {
    background-image: url(../images/top-menu-item-bg-active.jpg);
    color: #553979;
}

#top-options-holder form > * {
    vertical-align: middle;
    /*float: left;
    display: inline-block;*/
}

#main-body {
    margin: 0px 5px 5px;
    min-width: 500px;
    border: 1px solid #D1D1D3;
    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /*width: 980px;*/
}

#account-settings-menu {
    width: 20%;
    min-width: 100px;
    float: left;
    background-color: white;
    border: 1px solid #BEC0BF;
    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.menu-title {
    padding: 5px;
    background-color: #D1CDDC;
    font-weight: bold;
    margin-bottom: 1px;
    -moz-border-radius: 8px 8px 0px 0px;
    border-radius: 8px 8px 0px 0px;
}

.menu-section {
    margin-bottom: 1px;
}

.menu-section-title {
    padding: 5px;
    background-color: #DDDDDD;
}

.menu-section-item {
    padding: 5px;
}

.menu-section-item.last {
    border-bottom: 0px;
}

#account-content {
    width: 79%;
    float: right;
    min-width: 395px;
    background-color: white;
    border: 1px solid #BEC0BF;
    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.content-title {
    margin: 0px;
    padding: 5px;
    background-color: #D1CDDC;
    font-size: 15px;
    -moz-border-radius: 8px 8px 0px 0px;
    border-radius: 8px 8px 0px 0px;
}

#boxes-holder {
    float: left;
    width: 720px;
    position: relative;
}

.box-container {
    border: 1px solid transparent;
    z-index: 1;
}

.box-container.active {
    margin-bottom: 10px;
}

.box-container.empty {
    margin-bottom: 10px;
    display: none;
}

.box-dropable {
    border-width: 1px;
    border-style: dotted;
    border-color: gray;
    display: block !important;
}

.box-dropable.empty {
    height: 50px;
}

.box-drag-over {
    border-style: dashed !important;
}

.box-container-left {
    float: left;
    width: 351px;
}

.box-container-right {
    float: right;
    width: 352px;
}

.box {
    top: 0px;
    left: 0px;
    background-color: white;
    border: 1px solid #BEC0BF;
    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 2px;
}

.graph-holder {
    display: none;
    min-height: 250px;
    overflow: hidden;
}

.content-section-title {
    margin: 0px;
    padding: 5px;
    background-color: #DDDDDD;
    font-size: 11px;
}

.box-header {
    position: relative;
    margin: 0px;
    padding: 5px;
    background-color: #D1CDDC;
    font-size: 15px;
    font-weight: bold;
    -moz-border-radius: 8px 8px 0px 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
    border-radius: 8px 8px 0px 0px;
    text-align: center;
}

.box-header-left-buttons {
    float: left;
    padding-right: 5px;
}

.box-header-title-holder {
    margin-left: 20px;
    margin-right: 40px;
}

.box-header-title {
}

.box-header-right-buttons {
    float: right;
}

.box-content {
    min-height: 50px;
}

.box-header-button {
    display: inline-block;
    width: 19px;
    height: 17px;
    background-repeat: no-repeat;
    background-position: top left;
    margin-left: 3px;
}

.box-header-button:first-child {
    margin-left: 0px;
}

.box-header-button.active {
    background-position: bottom left;
}

.box-header-button-show-graph {
    background-image: url(../images/box/button/chart.png);
}
.box-header-button-show-data {
    background-image: url(../images/box/button/data-grid.png);
}
.box-header-button-move {
    background-image: url(../images/box/button/move.png);
}
.box-header-button-dashboard-pin {
    background-image: url(../images/box/button/pin.png);
}

.light-box {
    background-color: white;
    border: 1px solid #BEC0BF;
    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 2px;
    margin-bottom: 10px;
}

.light-box-header {
    -moz-border-radius: 8px 8px 0px 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
    border-radius: 8px 8px 0px 0px;
    padding: 5px;
    margin-bottom: 5px;
    font-size:15px;
    font-weight: bold;
}

.light-box-content {
    padding: 5px;
    -moz-border-radius: 0px 0px 8px 8px;
    -webkit-border-radius: 0px 0px 8px 8px;
    border-radius: 0px 0px 8px 8px;
    background-color: #D1CDDC;
}


#top-options-holder {
    margin: 10px 0px;
    text-align: right;
    position: relative;
}

#right-panel-holder {
    width: 14%;
    width: 165px;
    float: right;
}

#footer-holder {
    margin: 5px;
    border-top: 1px solid gray;
    padding: 5px;
    text-align: center;
}

#copyrights {
    width: 220px;
    margin: 5px auto;
    border: 1px solid gray;
}

#ajax-loader-holder {
    display: none;
}

.ajax-loader {
    text-align: center;
    padding: 10px;
}

.ajax-loading-gif {
    vertical-align: middle;
}

.reply-to-review-button {
    display: inline-block;
    width: 131px;
    height: 28px;
    vertical-align: middle;
    background-image: url(../images/icons/reply-to-review.png);
    background-repeat: no-repeat;
    margin-right: 13px;
}

.close-button {
    display: block;
    width: 70px;
    height: 28px;
    vertical-align: middle;
    background-image: url(../images/icons/close.png);
    background-repeat: no-repeat;
}

.save-button {
    display: inline-block;
    width: 70px;
    height: 28px;
    vertical-align: middle;
    background-image: url(../images/icons/save.png);
    background-repeat: no-repeat;
}

.mono-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-image: url(../images/icons/mono-icons.png);
    background-repeat: no-repeat;
}

.mono-icon.icon-checkbox {
    background-position: left 0px;
}
.mono-icon.icon-todo {
    background-position: left -40px;
}
.mono-icon.icon-email {
    background-position: left -20px;
}
.mono-icon.icon-goto {
    width: 27px;
    background-position: left -60px;
}

/* Styles for specific boxes */

/* Review Inbox */
#box-recent-reviews {}


    #box-recent-reviews .reviewRating {
        background-image: url(../images/icons/review-stars.png);
        background-position: 0px 0px;
        background-repeat: no-repeat;
        height: 18px;
        width: 110px;
        position: relative;
    }
    
    #box-recent-reviews .reviewRating span, #box-recent-reviews .reviewStatus span {
        display:none;
    }

        #box-recent-reviews .reviewRating .stars-0-of-5-front,
        #box-recent-reviews .reviewRating .stars-1-of-5-front,
        #box-recent-reviews .reviewRating .stars-2-of-5-front,
        #box-recent-reviews .reviewRating .stars-3-of-5-front,
        #box-recent-reviews .reviewRating .stars-4-of-5-front,
        #box-recent-reviews .reviewRating .stars-5-of-5-front {
            /* background-color: red; */
            background-image: url(../images/icons/review-stars.png);
            background-position: 0px -22px;
            background-repeat: no-repeat;
            height: 18px;
            position: absolute;
        }

        #box-recent-reviews .reviewRating .stars-0-of-5-front {
            width: 0px;
        }

        #box-recent-reviews .reviewRating .stars-1-of-5-front {
            width: 22px;
        }

        #box-recent-reviews .reviewRating .stars-2-of-5-front {
            width: 44px;
        }

        #box-recent-reviews .reviewRating .stars-3-of-5-front {
            width: 66px;
        }

        #box-recent-reviews .reviewRating .stars-4-of-5-front {
            width: 88px;
        }

        #box-recent-reviews .reviewRating .stars-5-of-5-front {
            width: 110px;
        }

    #box-recent-reviews .reviewStatus {
        background-image: url(../images/icons/review-status-icons.png);
        background-position: 0px -91px;
        background-repeat: no-repeat;
        height: 25px;
        width: 28px;
    }

        #box-recent-reviews .reviewStatus-closed {
            background-position: 0px -31px;
        }

        #box-recent-reviews .reviewStatus-open {
            background-position: 0px -91px;
        }

        #box-recent-reviews .reviewStatus-todo {
            background-position: 0px 0px;
        }

        
    /* Styling of the expanded review details */
    #box-recent-reviews .details {
    }

        #box-recent-reviews .details td {
            padding: 0;
        }

        #box-recent-reviews .details {
            clear: both;
            padding: 10px;
            border-bottom: 1px solid #8974A0;
        }

            #box-recent-reviews .details .recentReviewDetailsForm {
                
                width:auto;
                float:left;
            }
            
            #box-recent-reviews .details .recentReviewDetailsForm .innerForm {
                margin-right:170px;
            } 

            #box-recent-reviews .details .recentReviewDetailsMenu {
                float: right;
                width: 150px;
                margin-left: -150px;
            }

            #box-recent-reviews .details .recentReviewDetailsButtons {
                text-align: right;
            }

#box-ogsi {}

    .ogsi-score-bg-right {
        background-image: url(../images/ogsi-bg.png);
        background-position: right bottom;
        background-repeat: no-repeat;
        padding-right: 32px;
    }
    
    .ogsi-score-bg-left {
        background-image: url(../images/ogsi-bg.png);
        background-position: top left;
        background-repeat: no-repeat;
        padding-left: 10px;
        height: 101px;
    }
    
    .ogsi-score-ogsi {
        padding: 5px 0px 0px;
        font-size: 20px;
        text-align: center;
    }
    .ogsi-rating-rating {
        padding: 5px 0px 0px;
        font-size: 20px;
        text-align: center;
        color: #F9AA21;
    }
    .ogsi-reviews-reviews {
        padding: 5px 0px 0px;
        font-size: 20px;
        text-align: center;
    }
    
    .ogsi-score-value {
        padding: 0px;
        font-size: 31px;
        font-weight: bold;
        text-align: center;
        line-height: 100%;
    }
    
    .ogsi-rating {
        height: 101px;
    }
    
    .ogsi-rating-value {
        padding: 0px;
        font-size: 31px;
        font-weight: bold;
        text-align: center;
        line-height: 100%;
    }

    .ogsi-reviews {
        height: 101px;
    }
    
    .ogsi-reviews-value {
        padding: 0px;
        font-size: 31px;
        font-weight: bold;
        text-align: center;
        line-height: 100%;
    }
    
    .change-arrow {
        display: inline-block;
        width: 15px;
        height: 14px;
        vertical-align: middle;
        background-repeat: no-repeat;
    }
    
    .change-arrow.positive {
        background-image: url(../images/icons/arrow-up.png);
    }

    .change-arrow.negative {
        background-image: url(../images/icons/arrow-down.png);
    }
    
    .ogsi-rating .ogsi-rating-stars-off {
        width: 110px;
        height: 20px;
        margin: 0px auto;
        background-image: url(../images/icons/review-stars.png);
        background-repeat: no-repeat;
        background-position: top left;
    }
    .ogsi-rating .ogsi-rating-stars-on {
        width: 20px;
        height: 20px;
        background-image: url(../images/icons/review-stars.png);
        background-repeat: no-repeat;
        background-position: left -22px;
        margin: 0px;
        float: left;
    }
    
    .change-value {
        font-size: 14px;
    }
    
    .box-ogsi-review-distribution .title {
        text-align: center;
        padding: 5px;
        background-color: #D1CDDD;
        color: white;
        font-weight: normal;
        font-size: 18px;
    }
    
    .box-ogsi-review-distribution .bar-holder {
        padding: 20px 50px;
    }
    
    .bar-value {
        font-size: 13px;
        color: white;
        font-weight: bold;
        display: inline-block;
        padding-top: 4px;
    }
    
    .bar-negative {
        height: 22px;
        background-image: url(../images/box/ogsi/bar-negative-bg.jpg);
        border: 1px solid #BC2B2C;
        border-radius: 8px;
        text-align: center;
    }
    
    .bar-neutral {
        height: 22px;
        margin-top: -1px;
        margin-left: -1px;
        float: left;
        background-image: url(../images/box/ogsi/bar-neutral-bg.jpg);
        border: 1px solid #D1BC30;
        border-radius: 8px;
        overflow: visible;
    }

    .bar-neutral .bar-value {
        color: black;
    }

    .bar-positive {
        overflow: visible;
        height: 22px;
        margin-top: -1px;
        margin-left: -1px;
        float: left;
        background-image: url(../images/box/ogsi/bar-positive-bg.jpg);
        border: 1px solid #18693C;
        border-radius: 8px;
    }

    .bar-positive .bar-value {
        color: white;
    }
    
    .headline-arrow {
        background: url(../images/ogsi_headline.png) top left;
        height:54px;
        width:127px;
    }
    
    .current {
        background-position: bottom left;
    }

#range-form .ui-datepicker-trigger {

    position: absolute;
    right: 172px;
    top: 5px;
    cursor: pointer;

}


.box .box-filter-label {
    font-weight: bold;
    float:left;
}

.box .box-filter {
    float:left
}

.box .box-filter a {
    font-size: 11px;
}

.box .box-filter a.active {
    
        background: #573975;
        /* Mozilla: */
        background: -moz-linear-gradient(top, #d1cddc,#573975);
        /* Chrome, Safari:*/
        background: -webkit-gradient(linear,
                left top, left bottom, from(#d1cddc), to(#573975));
        /* MSIE */
        filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#d1cddc', EndColorStr='#573975', GradientType=0);
        
	color: #fff;
	padding: 2px 3px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #573975;
	
    
}

.box .spacer {
    padding-top:12px; 
    clear:both;
}

.box-filters .box-filters-inner
{
    margin:10px 10px 0;
    font-size: 12px;
}

.box-filter .separator
{
    margin-left: 4px;
    margin-right: 4px;
}

.box .box-pager {
    
    position: absolute;
    right: 15px;
    top: 44px;
    
}


#box-social-media-inbox {}
    

    #box-social-media-inbox tr td.col-network a, .network a {

        display: block;
        background-image: url(../images/icons/social_icons.png);
        width: 24px;
        height: 24px;
    }
    
    #box-social-media-inbox tr td.col-network a span, .network a span {
        display:none;
    }
    
    #box-social-media-inbox tr td.col-network a.facebook, .network a.facebook {
        background-position: 0 0;
    }
    
    #box-social-media-inbox tr td.col-network a.flickr, .network a.flickr {
        background-position: 0 -33px;
    }

    #box-social-media-inbox tr td.col-network a.twitter, .network a.twitter {
        background-position: 0 -66px;
    }

    #box-social-media-inbox tr td.col-network a.google, .network a.google {
        background-position: 0 -99px;
    }

    #box-social-media-inbox tr td.col-network a.youtube, .network a.youtube {
        background-position: 0 -132px;
    }
    
    #box-social-media-inbox tr td.col-network a.reddit, .network a.reddit {
        background-position: 0 -165px;
    }
    
    #box-social-media-inbox tr td.col-network a.stumbleupon, .network a.stumbleupon {
        background-position: 0 -198px;
    }

    #box-social-media-inbox tr td.col-network a.rss, .network a.rss {
        background-position: 0 -231px;
    }

    #box-social-media-inbox tr td.col-network a.blogger, .network a.blogger {
        background-position: 0 -264px;
    }
    
    #box-social-media-inbox tr td.col-network a.delicious, .network a.delicious {
        background-position: 0 -297px;
    }
    

    .box .col-2 {
        
        width:100%;
        margin-top:15px;
        
    }
    
    tr.expanded td { padding: 0; }
    
    tr .details {
        border-bottom: 1px solid #8974A0;
        clear: both;
        padding: 10px;
    }
    
    .box .col-2 .leftCol {
        
        width:100%;
        float:left;
    }
    
    tr.border {
    
        border: 1px solid #000;
        
    }
    
    .collapsed .col-title {
        font-weight: bold;
        font-style: italic; 
        vertical-align: text-top;
        height: 28px;
    }
    
    .collapsed .expand {
        background: url("../images/icons/expand-icon.png") no-repeat scroll 0 0 transparent;
        bottom: -33px;
        display: block;
        height: 15px;
        position: absolute;
        right: 0px;
        width: 55px;
        display: none;
    }
    .show { display:block !important;}
    
    
    
    .collapsed .col-title div.wrapper {
        position: relative;
    }
    
    
    .collapsed .col-title div.wrapper .in {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    
    .box .col-2 h2 {
        margin:0;
    }
    
    .box .col-2 .leftCol .inner {
        
        margin-right: 200px;
        
    }
    
    .box .col-2 .rightCol {
        
        float:right;
        padding-right: 10px;
        padding-bottom: 10px;
        margin-left: -200px;
        
    }

#box-competition-score .data {
    text-align:center;
}    
    td.even {
        background-color: #E7E4EF;
    }

    #box-competition-score .data th {

        text-align:right;
        
    }
    
    #box-competition-score .data span {

        display:block;

    } 
    #box-competition-score .data span.score {
        font-size:120%;
        font-weight: bold;
    }
    #box-competition-score .data span.rank {
        font-size:90%;
        font-weight: normal;
    }

/* Review Inbox */
#box-competition-review-inbox {}

    #box-competition-review-inbox .reviewRating {
        background-image: url(../images/icons/review-stars.png);
        background-position: 0px 0px;
        background-repeat: no-repeat;
        height: 18px;
        position: relative;
        width: 110px;
    }

        #box-competition-review-inbox .reviewRating .stars-0-of-5-front,
        #box-competition-review-inbox .reviewRating .stars-1-of-5-front,
        #box-competition-review-inbox .reviewRating .stars-2-of-5-front,
        #box-competition-review-inbox .reviewRating .stars-3-of-5-front,
        #box-competition-review-inbox .reviewRating .stars-4-of-5-front,
        #box-competition-review-inbox .reviewRating .stars-5-of-5-front {
            /* background-color: red; */
            background-image: url(../images/icons/review-stars.png);
            background-position: 0px -22px;
            background-repeat: no-repeat;
            height: 18px;
            position: absolute;
        }

        #box-competition-review-inbox .reviewRating .stars-0-of-5-front {
            width: 0px;
        }

        #box-competition-review-inbox .reviewRating .stars-1-of-5-front {
            width: 22px;
        }

        #box-competition-review-inbox .reviewRating .stars-2-of-5-front {
            width: 44px;
        }

        #box-competition-review-inbox .reviewRating .stars-3-of-5-front {
            width: 66px;
        }

        #box-competition-review-inbox .reviewRating .stars-4-of-5-front {
            width: 88px;
        }

        #box-competition-review-inbox .reviewRating .stars-5-of-5-front {
            width: 110px;
        }
        
#box-revent-review {
    
}

#box-recent-reviews ul {
    list-style-type: none;
}

    #box-recent-reviews .recent-review-status-icon {
        display: inline-block;
        width: 71px;
        height: 65px;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url(../images/icons/review-status-icons-big.png);
    }
    
    #box-recent-reviews .recent-review-status-icon.open {
        background-position: center 0px;
    }

    #box-recent-reviews .recent-review-status-icon.closed {
        background-position: center -260px;
    }

    #box-recent-reviews .recent-review-status-icon.todo {
        background-position: center -130px;
    }
    
    .row {
        background: url("/images/bar.gif") repeat-x left bottom;
        margin: 0 0 15px;
    }
    
    .row .title {
        float: right;
        margin: 0;
        width: 119px;
        font-weight: normal;
        font-size: 11px;
    }
    
    .row .network {
        float:left;
    }
    
    .row .date {
        clear:both;
        display:block;
        margin-bottom: 5px;
        font-size: 13px;
    }
    
    .row .reply {
        clear:both;
        float: right;
        background: url(/images/icons/reply.png) top left no-repeat;
        padding: 2px 0 0 20px;
        height: 24px;
        display: block;
        margin-top: 4px;
    }
    
    .hide {
        display:none;
    }
    
    .light-box-content .ogsi-reviews {
        
        height:auto;
        
    }
    .light-box-content .ogsi-rating {
        
        height: auto;
        
    }
    
    .light-box-content .ogsi-reviews-value {
        font-size: 18px;
        font-weight: bold;
        line-height: 100%;
        padding: 0;
        text-align: center;
    }
    
    .light-box-content .ogsi-reviews-reviews {
        font-size: 17px;
        margin-bottom: 10px;
    }
    
    .light-box-content .ogsi-rating-rating {
        color: #61467e;
        font-size: 17px;
        margin-bottom: 5px;
    }
    
    .light-box-content .bar-neutral {
        
        height: 17px;
        
    }
    .light-box-content .bar-positive {
        
        height: 17px;
        
    }
    
    .light-box-content .bar-negative {
        
        height: 17px;
        
    }
    
    .light-box-content .ogsi-score {
        
        width:85px;
        color: #783cad;
        
    }
    
    .light-box-content .ogsi-rating-value {
        font-size: 18px;
    }
    
    .light-box-content .ogsi-score-ogsi, .light-box-content .ogsi-score-value  {
        
        text-align:right;
        
    }
        
    .light-box-content .ogsi-score-bg-right {
        background-image: url("../images/ogsi_mini.png");
        background-position: -166px -131px;
        background-repeat: no-repeat;
        padding-right: 32px;
    }
    
    .light-box-content .ogsi-score-bg-left {
        background-image: url("../images/ogsi_mini.png");
        background-position: left top;
        background-repeat: no-repeat;
        height: 106px;
        padding-left: 10px;
    }
    
    